* {
	margin:0;
	padding:0;
	font-family: Georgia, "Century Schoolbook L", serif;
	color: #642301;
}
body {
	background: linear-gradient(to top, #d9f1fb, #74c3e1);	
	background: -webkit-linear-gradient(bottom, #d9f1fb, #74c3e1);
	background: -o-linear-gradient(bottom, #d9f1fb, #74c3e1);
	background: -moz-linear-gradient(bottom, #d9f1fb, #74c3e1);
	overflow: hidden;
}
a {
	text-decoration: none;
}
#wrapper {
	width: 1600px;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/background-tree.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
}
#container {
	height: 100%;
	width: 86%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	line-height: 60px;
	font-size: 40px;
}
#header {
	width: 100%;
	padding-top: 2%;
}
#header img,
#header p {
	display: inline-block;
	vertical-align: middle;
}
#header img {
	width: 40%;
} 
#header p {
	width: 55%;
	padding-left: 10%;
	box-sizing: border-box;
}
#content {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8%;
}
#footer {
	background-color: #4da8e4;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 7;
}
#footer,
#river {
	height: 45px;
}
#footer img {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
	width: 55%;
}
#river {
	width: 100%;
	position: relative;
	margin-top: -45px;
	z-index: 5;
}
#river div {
	float: left;
}
#water {
	width: 50%;
	height: 100%;
	background-color: #4da8e4;
}
#ground {
	width: 50%;
	height: 100%;
	background-color: #ca9e3f;
}